#root{
    background-image: url("bg-root.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 650px;
    /* filter: blur(6px); */
}

.component{
    min-height: 650px;
}

#meal-home{
    background-image: url("bg-home-largest.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: contrast(115%);
    min-height: 650px;
    font-family: cursive;
}

.home-content{
    float: left;
    padding: 20px;
    margin-top: 50px;
    filter: none;
}